.jamones-container {
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
padding: 3% 10%;
text-align: center;
font-size: 1.3rem;
background-color: rgb(234, 229, 223);
}

.jamones-text{
margin-bottom: 70px;
}

.jamones-text p{
font-size: 1.5rem;
}

.jamones-container h2 {
font-family: "DM Serif Text", sans-serif;
font-size: 5rem;
font-weight: 400;
color: rgb(154, 122, 105);
margin-bottom: 20px;
}

.carousel-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 80%;
width: 100%;
margin: 20px;
position: relative;
}

.carousel-item {
display: flex;
align-items: center;
background-color: #f9f9f9;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
gap: 20px;
padding: 40px;
max-width: 80%;
height: 100%;
overflow: hidden;
}

.carousel-img {
flex: 1;
max-width: 40%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.carousel-img img {
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;
}

.carousel-text {
flex: 2;
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
text-align: left;
max-width: 60%;
}

.carousel-text h3 {
font-size: 3.5rem;
margin: 0 auto;
font-style: italic;
}

.carousel-text ul {
list-style-type: disc;
padding-left: 20px;
font-size: 1.2rem;
color: #555;
}

.carousel-button.prev,
.carousel-button.next {
background: rgba(0, 0, 0, 0);
border: none;
cursor: pointer;
padding: 10px;
font-size: 40px;
color: rgb(7, 7, 7);
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 10;
border-radius: 50%;
}

.carousel-button.prev {
left: 10px;
}

.carousel-button.next {
right: 10px;
}




@media (max-width: 1980px) {
.jamones-container {
height: 100vh;
}
.jamones-text{
margin-bottom: 40px;
}

.jamones-text p{
font-size: 1.3rem;
}

.carousel-container{
height: 40%;
width: 90%;
margin: 20px;
}
.carousel-img img {
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;
}
.carousel-text h3 {
font-size: 2.4rem;
margin: 0 auto;
}

.carousel-text ul {
list-style-type: disc;
padding-left: 15px;
font-size: 1.1rem;
}

.carousel-item {
display: flex;
max-width: 100%;
height: 100%;
}
}


/* @media (max-width: 800px) {

.jamones-text{
margin-bottom: 10px;
}
.jamones-text h2{
    font-size: 2.5rem;
}
.jamones-text p{
font-size: 1.1rem;
}

.carousel-container{
height: 40%;
width: 100%;
margin: 20px;
}

.carousel-img img {
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;
}

.carousel-text h3 {
font-size: 1.4rem;
margin: 0 auto;
}

.carousel-text ul {
list-style-type: disc;
padding-left: 15px;
font-size: 0.8rem;
}

}

@media (max-width: 480px) {

    .jamones-text{
    margin-bottom: 10px;
    }
    .jamones-text h2{
        font-size: 2.5rem;
    }
    .jamones-text p{
    font-size: 1.1rem;
    }
    
    .carousel-container{
    height: 40%;
    width: 100%;
    margin: 20px;
    }
    
    .carousel-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    }
    
    .carousel-text h3 {
    font-size: 1.4rem;
    margin: 0 auto;
    }
    
    .carousel-text ul {
    list-style-type: disc;
    padding-left: 15px;
    font-size: 0.8rem;
    }
    
    } */