.events-container {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
text-align: center;
background-color: rgb(234, 229, 223);
padding: 3% 5%;
}

.events-text {
max-width: 60%;
}

.events-container h2 {
font-family: "DM Serif Text", sans-serif;
font-size: 5rem;
font-weight: 400;
color: rgb(154, 122, 105);
margin-bottom: 20px;
}

.events-container p {
margin-bottom: 30px; 
font-size: 1.5rem;
color: #555;
}

.cards {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 20px;
width: 100%;
padding: 20px 0;
flex-grow: 1;
}

.card {
width: 100%;
max-width: 400px;
height: 375px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 12px;
overflow: hidden;
text-align: center;
transition: transform 0.3s ease, box-shadow 0.3s ease;
background-color: #fff;
}

.card:hover {
transform: translateY(-10px);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
width: 100%;
height: 200px;
object-fit: cover;
}

.card h3 {
margin: 15px 10px 10px;
font-size: 1.8em;
}

.card p {
margin: 10px;
font-size: 1em;
color: #555;
}

.btn{
background: rgb(154, 122, 105);
color: rgb(255, 255, 255);
padding: 10px 20px;
font-size: 18px;
border-radius: 30px;
cursor: pointer;
border: 0;
outline: 0;

}