.events-container {
padding-left: 5%;
padding-right: 5%;
margin-bottom: 40px;
text-align: center;
}

.events-text{
max-width: 1400px;   
margin: 0 auto;
}

.events-container h2 {
font-family: "DM Serif Text", sans-serif;
font-size: 55px;
font-weight: 400;
color: #ffa947;
margin-bottom: 10px;
margin-top: 80px;
}

.events-container p {
    margin-bottom: 50px;
}

.cards { 
    display: flex;
    justify-content: space-around;
}

.card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}


.card img {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 10px 10px;
    font-size: 1.5em;
}

.card p {
    margin: 10px;
    font-size: 1em;
    color: #555;
}