.historia {
background-color: rgb(234, 229, 223);
height: 100vh;
display: flex;
}

.seccion-item {
display: flex;
width: 100%; 
height: 100%;
}

.seccion-item img {
width: 50%;
height: 100%;
object-fit: cover;
border-radius: 3px;
}

.texto-container {
width: 50%;
height: 100%;
display: flex;
padding: 0 5%;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 20px;
overflow-y: auto;
}

.texto-container h2 {
font-family: "DM Serif Text", sans-serif;
font-size: 5rem;
font-weight: 400;
color: rgb(154,122,105);
margin-bottom: 10px;
}

.texto-container p {
font-size: 1.4rem;
color: #5e5247;
margin-bottom: 15px;
}
