.contact-container {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #fcf6ef;
text-align: center;
}

.contact-text {
max-width: 800px;
margin: 0 auto;
margin-bottom: 20px;
padding: 20px;
}

.contact-text h2 {
font-family: "DM Serif Text", sans-serif;
font-size: 4rem;
font-weight: 400;
color: rgb(154, 122, 105);
margin-bottom: 10px;
}

.contact-text p {
font-size: 1.4rem;
color: #555;
line-height: 1.6;
text-align: justify;
hyphens: auto;
text-align-last: center;
max-width: 900px;
}

.contact-form {
max-width: 600px;
width: 100%;
padding: 10px;
border: 1px solid rgb(154, 122, 105);
border-radius: 8px;
background-color: #ffffff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
display: flex;
flex-direction: column;
margin-bottom: 15px;
}

.contact-form label {
margin-bottom: 3px;
font-weight: bold;
color: #555;
font-family: "DM Serif Text", serif;
font-size: 1rem;
text-align: left;
}

.contact-form input,
.contact-form textarea {
padding: 10px;
border: 1px solid rgb(154, 122, 105);
border-radius: 4px;
font-size: 18px;
resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
border-color: #007bff;
outline: none;
box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact-form button {
width: 20%;
padding: 10px 20px;
border: none;
border-radius: 30px;
background-color: rgb(154, 122, 105);
color: white;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.contact-form button:hover {
background-color: rgb(104, 82, 71);
}



@media (max-width: 1980px) {
.contact-container p {
font-size: 1.2rem;
}

.contact-form {
max-width: 600px;
width: 100%;
padding: 15px;
}
}