.footer {
background-color: rgba(0, 0, 0, 0.95);
color: #ffa947;
padding:20px 0;
width: 100%;
text-align: center;
display: flex;
flex-direction: column;
} 

.footer-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 30px;
gap: 1px;
}

.footer-item{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin: 0;
padding: 0 15px;
}

.footer-item img{
width: 22px;
height: 22px;
margin: 0 10px; 
}

.footer-item h4, .footer-datos h4{
font-size: .9rem;
font-weight: 500;
}

.footer-datos{
margin: 0 auto;
}