@font-face {
font-family: 'FuturaCyryllic';
src: url('./assets/fonts/FuturaCyrillicLight.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Geologica', sans-serif;
font-weight: 300;
}

body, html {
scroll-behavior: smooth;
margin: 0;
padding: 0;
height: 100%;
background: rgba(48, 48, 48, 0);
transition: background-color 0.3s ease-in-out;
}

a{
text-decoration: none;
color: inherit;
line-height: 1;
cursor: pointer;
}


 /* .btn {
background: rgba(255, 255, 255, 0.226);
color: rgb(255, 255, 255);
padding: 10px 20px;
font-size: 16px;
border-radius: 30px;
cursor: pointer;
border: 0;
outline: 0;
 } */

strong{
color: rgb(185, 148, 127);
font-weight: 700;
}

h1{
font-family: "DM Serif Text", serif;
}

h2 {
font-family: "DM Serif Text", sans-serif;
font-size: 98px;
font-weight: 400;
color: rgb(154,122,105);
margin-bottom: 10px;
opacity: 0;
transform: translateY(50px);
animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
0% {
opacity: 0;
transform: translateY(50px);
}
100% {
opacity: 1;
transform: translateY(0); 
}
}

h3 {
font-family: "DM Serif Text", sans-serif;
font-size: 30px;
font-weight: 400;
color: rgb(154,122,105);
margin-bottom: 20px;
margin-top: 40px;
}


p{
font-family: 'Geologica', sans-serif;
font-size: 20px;
font-weight: 300;
color: rgb(37, 37, 37);
}

/* scrollbar */
::-webkit-scrollbar {
width: 12px;
background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
background-color: #9a7a69;
border-radius: 6px;
border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
background-color: #7f5f4a;
}

::-webkit-scrollbar-thumb:active {
background-color: #5e4433;
}

::-webkit-scrollbar-track {
background-color: #e0e0e0de;
border-radius: 8px; 
}